<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="arrow-back-outline" (click)="back()"></ion-icon>
    <ion-img slot="start" class="header-logo" src="assets/images/insta-logo.jpg"></ion-img>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="card_form" (ngSubmit)="CreatePayment(card_form.value)">
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="12" class="upload-profile-pic ion-no-padding">
        <span class="card-details">
          <div class="card-top">
          <p>Credit Card</p>
          </div>
          <ion-slides pager="true" [options]="slideOpts">
            <ion-slide>
              <div class="slide">
               <div class="credit-card">
                 <h2>card detail<ion-img src="assets/images/card-logo.svg"></ion-img></h2>
                 <p>card number
                   <b>....  ....  ....  1111</b>
                 </p>
                 <section><span>Expiration Date<b>mm/yy</b></span>
                   <span>cvv<b>....</b></span>
                 </section>
               </div>
              </div>
            </ion-slide> 
            </ion-slides>
        </span>

    </ion-col>
    <ion-col size="12" class="create-parameter">
      <div class="parameter-field">
        <p>In order to receive money a debit card is required. Paying Money is usable for ticket and event purchases only.</p>
        <h2>card details</h2>
        <section>
          <ion-label>Full Name</ion-label>
        <ion-input type="text" formControlName="name" ></ion-input>
        </section>
        <section>
          <ion-label>Card Number</ion-label>
        <ion-input type="number" formControlName="number" [brmasker]="{mask:'0000000000000000', len:16}"></ion-input>
          </section>
        <div class="input-division">
       <span class="">
        <section>
          <ion-label>MM/YYYY</ion-label>
          <ion-input type="text" [brmasker]="{mask:'00/0000', len:7}" formControlName="expire_date" ></ion-input>
        </section>
        </span>
       <span> 
        <section>
          <ion-label>CVV</ion-label>
          <ion-input type="password" formControlName="cvc" [brmasker]="{mask:'0000', len:4}" ></ion-input>
          </section>
        </span>
       </div>
        
        <ion-button expand="block" type="submit"  [disabled]="!card_form.valid">Continue</ion-button>
      </div> 
      </ion-col>
  </ion-row>
</ion-grid>
</form>
</ion-content>
