<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    <ion-img slot="start" class="header-logo" src="assets/images/insta-logo.jpg"></ion-img>
    <ion-title>send money</ion-title>   
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="total-price">
        <div class="total-price-detail">
          <h2 class="price-card">
            <span>Your Balance</span><b>1260</b> Points
          </h2>        
        </div>      
      </ion-col>  

            
          <ion-col size="12" class="transaction-history">
            <div class="action-btn">
              <ion-button fill="clear">Redeem</ion-button>
            </div>          
            <ion-list>        
                 <ion-item>              
                <ion-label>
                 <h6>15<span>Sat</span></h6>
                  <h2>Event Name<span>10:00AM - 2:00PM</span></h2>
                  <b>20%</b>                  
                </ion-label>
              </ion-item>     
              <ion-item>              
                <ion-label>
                 <h6>15<span>Sat</span></h6>
                  <h2>Event Name<span>10:00AM - 2:00PM</span></h2>
                  <b>20%</b>                  
                </ion-label>
              </ion-item>    
              <ion-item>              
                <ion-label>
                 <h6>15<span>Sat</span></h6>
                  <h2>Event Name<span>10:00AM - 2:00PM</span></h2>
                  <b>20%</b>                  
                </ion-label>
              </ion-item>    
              <ion-item>              
                <ion-label>
                 <h6>15<span>Sat</span></h6>
                  <h2>Event Name<span>10:00AM - 2:00PM</span></h2>
                  <b>20%</b>                  
                </ion-label>
              </ion-item>    
              <ion-item>              
                <ion-label>
                 <h6>15<span>Sat</span></h6>
                  <h2>Event Name<span>10:00AM - 2:00PM</span></h2>
                  <b>20%</b>                  
                </ion-label>
              </ion-item>      
              </ion-list>
            </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
