<ion-header>
  <ion-toolbar>
     <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
     <ion-img slot="start" class="header-logo" src="assets/images/insta-logo.jpg"></ion-img>
    <ion-title>history</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-list-header>
          Transaction detail
        </ion-list-header>
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/images/dp.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Samuels</h2>
            <h3>2 days ago</h3>
          </ion-label>
          <section class="recieve">$20.00<ion-icon name="arrow-up-outline"></ion-icon></section>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/images/dp.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Samuels</h2>
            <h3>2 days ago</h3>
          </ion-label>
          <section class="send-money">$20.00<ion-icon name="arrow-down-outline"></ion-icon></section>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/images/dp.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Samuels</h2>
            <h3>2 days ago</h3>
          </ion-label>
          <section class="send-money">$20.00<ion-icon name="arrow-down-outline"></ion-icon></section>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/images/dp.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Samuels</h2>
            <h3>2 days ago</h3>
          </ion-label>
          <section class="send-money">$20.00<ion-icon name="arrow-down-outline"></ion-icon></section>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/images/dp.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Samuels</h2>
            <h3>2 days ago</h3>
          </ion-label>
          <section class="recieve">$20.00<ion-icon name="arrow-up-outline"></ion-icon></section>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/images/dp.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Samuels</h2>
            <h3>2 days ago</h3>
          </ion-label>
          <section class="recieve">$20.00<ion-icon name="arrow-up-outline"></ion-icon></section>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/images/dp.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Samuels</h2>
            <h3>2 days ago</h3>
          </ion-label>
          <section class="send-money">$20.00<ion-icon name="arrow-down-outline"></ion-icon></section>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/images/dp.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Samuels</h2>
            <h3>2 days ago</h3>
          </ion-label>
          <section class="recieve">$20.00<ion-icon name="arrow-up-outline"></ion-icon></section>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/images/dp.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Samuels</h2>
            <h3>2 days ago</h3>
          </ion-label>
          <section class="recieve">$20.00<ion-icon name="arrow-up-outline"></ion-icon></section>
        </ion-item>
        </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
