<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    <ion-img slot="start" class="header-logo" src="assets/images/insta-logo.jpg"></ion-img>
    <ion-title>feature stream</ion-title>
    <ion-icon slot="end" name="add-sharp" class="add-event"></ion-icon>
  </ion-toolbar>
  <img src="assets/top-border.svg" class="top-border"/>
</ion-header>

<ion-content>
  <h1>my schedule streams</h1>
  <ion-card>
    <div class="event-img">
    <img src="assets/images/event.png" /> 
    <div class="days-left">02<span>days</span></div>  
  </div>
    <ion-card-content>
    <span>
      <b>15</b>
      sat
    </span>
    <ion-label>
      <h2>Title here</h2>
      <p>Name of the venue</p>
      <small>10:00 PM - 2:00 AM</small>
    </ion-label>
    <section>$25.00</section>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div class="event-img">
    <img src="assets/images/event.png" /> 
    <div class="days-left">02<span>days</span></div>  
  </div>
    <ion-card-content>
    <span>
      <b>15</b>
      sat
    </span>
    <ion-label>
      <h2>Title here</h2>
      <p>Name of the venue</p>
      <small>10:00 PM - 2:00 AM</small>
    </ion-label>
    <section>$25.00</section>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div class="event-img">
    <img src="assets/images/event.png" /> 
    <div class="days-left">02<span>days</span></div>  
  </div>
    <ion-card-content>
    <span>
      <b>15</b>
      sat
    </span>
    <ion-label>
      <h2>Title here</h2>
      <p>Name of the venue</p>
      <small>10:00 PM - 2:00 AM</small>
    </ion-label>
    <section>$25.00</section>
    </ion-card-content>
  </ion-card>
</ion-content>
