<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="congrats-hub">
    <div class="congrats-img">
     <span><ion-img src="assets/congrats.png"></ion-img> </span> 
    
      <h2>congratulation!!</h2>
      <p>You are all setup and ready to buy tickets, watch live streams and money!</p>      
    
    </div>  

    <div class="action-btn">
      <ion-button expand="block" routerLink="/tabs/mywallet">Get Started!</ion-button>
    </div>
</div>
</ion-content>
