<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="arrow-back-outline" (click)="back()"></ion-icon>
    <ion-img slot="start" class="header-logo" src="assets/images/insta-logo.jpg"></ion-img>
  </ion-toolbar>
  <img src="assets/top-border.svg" class="top-border"/>
</ion-header>

<ion-content>
  <form  [formGroup]="billingaddress">
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="12" class="billing-address ion-no-padding">
      <div class="billing-parameter">
        <h2>Billing Address</h2>
        <section>
          <ion-label>Street 01</ion-label>
        <ion-input type="text"  formControlName="street1"></ion-input>
        </section>
        <section>
          <ion-label>Street 02</ion-label>
        <ion-input type="text" formControlName="street2"></ion-input>
        </section>       
        <div class="input-division">
        <span class="half-input">
          <section>
            <ion-label>City</ion-label>
          <ion-input type="text" formControlName="city"></ion-input>
          </section>
        </span>
        <span class="half-input">
          <section>
            <ion-label>Zip Code</ion-label>
        <ion-input type="number"  formControlName="zipcode"></ion-input>
        </section>
       </span>   
      </div>  
      <section>
        <ion-label>State</ion-label>  
        <ion-select  formControlName="state" >
          <ion-select-option value="Alabama">Alabama</ion-select-option>
          <ion-select-option value="Alaska">Alaska</ion-select-option>
          <ion-select-option value="Arizona">Arizona</ion-select-option>
          <ion-select-option value="Arkansas">Arkansas</ion-select-option>
          <ion-select-option value="California">California</ion-select-option>
          <ion-select-option value="Colorado">Colorado</ion-select-option>
          <ion-select-option value="Connecticut">Connecticut</ion-select-option>
          <ion-select-option value="Delaware">Delaware</ion-select-option>
          <ion-select-option value="Florida">Florida</ion-select-option>
          <ion-select-option value="Georgia">Georgia</ion-select-option>
          <ion-select-option value="Hawaii">Hawaii</ion-select-option>
          <ion-select-option value="Idaho">Idaho</ion-select-option>
          <ion-select-option value="Illinois">Illinois</ion-select-option>
          <ion-select-option value="Indiana">Indiana</ion-select-option>
          <ion-select-option value="Iowa">Iowa</ion-select-option>
          <ion-select-option value="Kansas">Kansas</ion-select-option>
          <ion-select-option value="Kentucky">Kentucky</ion-select-option>
          <ion-select-option value="Louisiana">Louisiana</ion-select-option>
          <ion-select-option value="Maine">Maine</ion-select-option>
          <ion-select-option value="Maryland">Maryland</ion-select-option>
          <ion-select-option value="Massachusetts">Massachusetts</ion-select-option>
          <ion-select-option value="Michigan">Michigan</ion-select-option>
          <ion-select-option value="Minnesota">Minnesota</ion-select-option>
          <ion-select-option value="Mississippi">Mississippi</ion-select-option>
          <ion-select-option value="Missouri">Missouri</ion-select-option>
          <ion-select-option value="Montana">Montana</ion-select-option>
          <ion-select-option value="Nebraska">Nebraska</ion-select-option>
          <ion-select-option value="Nevada">Nevada</ion-select-option>
          <ion-select-option value="New Hampshire">New Hampshire</ion-select-option>
          <ion-select-option value="New Jersey">New Jersey</ion-select-option>
          <ion-select-option value="New Mexico">New Mexico</ion-select-option>
          <ion-select-option value="New York">New York</ion-select-option>
          <ion-select-option value="North Carolina">North Carolina</ion-select-option>
          <ion-select-option value="North Dakota">North Dakota</ion-select-option>
          <ion-select-option value="Ohio">Ohio</ion-select-option>
          <ion-select-option value="Oklahoma">Oklahoma</ion-select-option>
          <ion-select-option value="Oregon">Oregon</ion-select-option>
          <ion-select-option value="Pennsylvania">Pennsylvania</ion-select-option>
          <ion-select-option value="Rhode Island">Rhode Island</ion-select-option>
          <ion-select-option value="South Carolina">South Carolina</ion-select-option>
          <ion-select-option value="South Dakota">South Dakota</ion-select-option>
          <ion-select-option value="Tennessee">Tennessee</ion-select-option>
          <ion-select-option value="Texas">Texas</ion-select-option>
          <ion-select-option value="Utah">Utah</ion-select-option>
          <ion-select-option value="Vermont">Vermont</ion-select-option>
          <ion-select-option value="Virginia">Virginia</ion-select-option>
          <ion-select-option value="Washington">Washington</ion-select-option>
          <ion-select-option value="West Virginia">West Virginia</ion-select-option>
          <ion-select-option value="Wisconsin">Wisconsin</ion-select-option>
          <ion-select-option value="Wyoming">Wyoming</ion-select-option>
        </ion-select>
        </section>
      </div>
      <div class="action-btn">
        <ion-button expand="block" [disabled]="!billingaddress.valid" (click)="submit(billingaddress.value)">Continue</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</form>
</ion-content>
