<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="12" class="search-section">
      <ion-img src="assets/images/search-bg.png"></ion-img>
      <div class="search-area">
        <form>
          <ion-searchbar placeholder="Filter Schedules" ></ion-searchbar>
        </form>
      </div>     
    </ion-col>
    <ion-col size="12" class="categories">
      <ion-chip class="active"><ion-label>Nearby</ion-label></ion-chip>
      <ion-chip><ion-label>Today</ion-label></ion-chip>
      <ion-chip><ion-label>Price</ion-label></ion-chip>
      <ion-chip><ion-label>Type</ion-label></ion-chip>
    </ion-col>

    <ion-col size="12" class="feature-event">
      <h2>Featured Events</h2>    
            <ion-card >
              <div class="card-img">
                <img src="/assets/images/feature-event.png" />
                <span>18<ion-icon name="arrow-up-outline"></ion-icon></span>
              </div>              
              <ion-card-header>
                <ion-card-subtitle class="date">15<span>Sat</span></ion-card-subtitle>               
                <ion-card-title>BAND / EVENT NAME<span>Name of the Venue</span><span>10:00 PM - 2:00 AM</span></ion-card-title>
                <ion-card-subtitle><b>$36.99</b></ion-card-subtitle>
              </ion-card-header>              
            </ion-card>

            <ion-card>
              <div class="card-img">
                <img src="/assets/images/feature-event-2.png" />
                <span>18<ion-icon name="arrow-up-outline"></ion-icon></span>
              </div>              
              <ion-card-header>
                <ion-card-subtitle class="date">15<span>Sat</span></ion-card-subtitle>               
                <ion-card-title>BAND / EVENT NAME<span>Name of the Venue</span><span>10:00 PM - 2:00 AM</span></ion-card-title>
                <ion-card-subtitle><b>$36.99</b></ion-card-subtitle>
              </ion-card-header>              
            </ion-card>

            <ion-card>
              <div class="card-img">
                <img src="/assets/images/feature-event-3.png" />
                <span>18<ion-icon name="arrow-up-outline"></ion-icon></span>
              </div>              
              <ion-card-header>
                <ion-card-subtitle class="date">15<span>Sat</span></ion-card-subtitle>               
                <ion-card-title>BAND / EVENT NAME<span>Name of the Venue</span><span>10:00 PM - 2:00 AM</span></ion-card-title>
                <ion-card-subtitle><b>$36.99</b></ion-card-subtitle>
              </ion-card-header>              
            </ion-card>
    </ion-col>
    </ion-row>   
</ion-grid>
</ion-content>
