<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="arrow-back-outline" (click)="back()"></ion-icon>
    <ion-img slot="start" class="header-logo" src="assets/images/insta-logo.jpg"></ion-img>
    <ion-title>Send to bank</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="ion-no-padding">

  <ion-row>
    <ion-col size="12" class="send-or-request">
      <div class="amount">
          <span>$<b>{{number}}</b></span>
      </div>

      <section class="payment-option">
        <ion-radio-group value="wallet"> 
          <ion-item>
            <ion-label>Wallet <b>${{availablebalnc}}</b></ion-label>
            <ion-radio slot="start" color="tertiary" value="wallet"></ion-radio>
          </ion-item>  
        </ion-radio-group>

      </section>
      <section>
        <ion-select  placeholder="Select Bank" (ionChange)="selectbank($event)" > 
          <ion-select-option  *ngFor="let data of bankdetail" value="{{data.id}}">**** **** **** {{data.last4}}</ion-select-option>
        </ion-select>
        <ion-img slot="end" src="assets/images/card.svg"></ion-img>
      </section> 
      <div class="keypad">
        <span (click)="addmoney('1')"><b>1</b></span>
        <span (click)="addmoney('2')"><b>2</b></span>
        <span (click)="addmoney('3')"><b>3</b></span>
        <span (click)="addmoney('4')"><b>4</b></span>
        <span (click)="addmoney('5')"><b>5</b></span>
        <span (click)="addmoney('6')"><b>6</b></span>
        <span (click)="addmoney('7')"><b>7</b></span>
        <span (click)="addmoney('8')"><b>8</b></span>
        <span (click)="addmoney('9')"><b>9</b></span>
        <span (click)="addmoney('.')"><b>.</b></span>
        <span (click)="addmoney('0')"><b>0</b></span>
        <span (click)="cut()"><b><ion-icon name="chevron-back-outline"></ion-icon></b></span>
      </div> 

      <div class="action">
        <ion-button (click)="send()" [disabled]="!number || !banktok || number == 0">Send</ion-button>
      </div>
    </ion-col>
  </ion-row>

</ion-grid>

</ion-content>
