<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    <ion-img slot="start" class="header-logo" src="assets/images/insta-logo.jpg"></ion-img>
    <ion-title>Upload Image</ion-title>
  </ion-toolbar>
  <img src="assets/top-border.svg" class="top-border"/>
</ion-header>


<ion-content>
  <div class="image-preview">
    <h3>Upload image</h3>
    <ion-img src="assets/images/event.png"></ion-img>
  </div>
  <div class="upload-img">   
    <section>
      <div class="add-img">
        <input type="file" id="myfile" name="myfile">
        <ion-img src="assets/images/camera.svg"></ion-img>
      </div>
      <ul>
        <li><ion-img src="assets/images/party-1.png"></ion-img></li>
        <li><ion-img src="assets/images/party-1.png"></ion-img></li>
        <li><ion-img src="assets/images/party-1.png"></ion-img></li>
        <li><ion-img src="assets/images/party-1.png"></ion-img></li>
      </ul>
    </section>  
  </div>

  <div class="action">
    <ion-button >Next</ion-button>
  </div>
</ion-content>
