ion-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

ion-toolbar {
    --background: #081319;
    color: #fff;
    --padding-start: 12px;
    --padding-end: 16px;
    border-radius: 0px 0px 0px 20px;
    ion-icon {
        font-size: 24px;
    }
}

.header-md::after {
    background-image: none;
}


ion-grid {
    --background: #081319;
}
img.top-border {
    position: absolute;
}
.qr {
    padding: 0px;
    width: 305px;
    display: flex;
    height: 305px;
    position: relative;
    margin: 50px auto;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    overflow: hidden;
    border: 10px solid;
}

.qr ion-img {
    min-width: 290px;
    height: 290px;
    border-radius: 160px;
    overflow: hidden;
    z-index: 1;
}
ion-button {
    width: calc(100% - 40px);
    height: 54px;
    --border-radius: 16px;
    margin-bottom: 16px;
    --background: #FF002B;
    font-size: 14px;
    margin-left: 20px;
}

.qr-set {
    height: 100%;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: space-between;
}


ion-img.header-logo {
    width: 100%!important;
    max-width: 64px!important;
    margin-left: 6px;
    height: auto!important;
    border-radius: 0!important;
}

div#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}