<ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-slides pager="true" [options]="slideoptions">
   

    <ion-slide>
      <ion-img src="assets/images/logo2.png"></ion-img>
      <span>
        <h2>Send Cash Instantly</h2>
        <p>Send Cash to any user at any time.  Simply connect your bank account and you can instantly transfer money!  Spend the money on future concerts and live stream events or simply transfer the money from your app to your bank!</p>
        <ion-button fill="clear" expand="block" style="opacity: 0;">Next</ion-button>
      </span>    
    </ion-slide>

    <ion-slide>
      <ion-img src="assets/images/logo2.png"></ion-img>
      <span>
        <h2>Live Events!</h2>
        <p>Coming soon!  Live stream your own event to earn money or attend one of the many live stream events around the world!</p>
        <ion-button fill="clear" expand="block" style="opacity: 0;">Next</ion-button>
      </span>    
    </ion-slide>

    <ion-slide>
      <ion-img src="assets/images/logo2.png"></ion-img>
      <span>
        <h2>Tickets!</h2>
        <p>Purchase all the latest and hottest tickets right in the app!  Coming in 2021!</p>
        <ion-button fill="clear" expand="block" routerLink="/home">Get Started </ion-button>
      </span>    
    </ion-slide>

  </ion-slides>
</ion-content>
