<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" src="assets/images/back-icon.svg"></ion-icon>
    <ion-title>confirm</ion-title>
  </ion-toolbar>
  <img src="assets/top-border.svg" class="top-border"/>

</ion-header>

<ion-content>
  <div class="confirm-payment">
  <div class="send-money-section">
    <b>To:</b>
<span><ion-img src="assets/images/dp.jpg"></ion-img></span>
<p>Samantha Due</p>
<ion-input type="number" placeholder="$00.00"></ion-input>
  </div>
  <ion-button>confirm payment $30.00</ion-button></div>
</ion-content>
