ion-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

ion-toolbar {
    --background: #081319;
    color: #fff;
    --padding-start: 12px;
    --padding-end: 16px;
    border-radius: 0px 0 0 20px;
    ion-icon {
        font-size: 24px;
    }
}

.header-md::after {
    background-image: none;
}
ion-content {
    --background: #081319;
}
ion-card {
    background: white;
}
ion-grid {
    padding: 0;
    background: white;
    min-height: 100%;
    border-radius: 0 20px 0 0;

}
.feed-set {
    padding: 15px;
}
.feed-set b {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #111111;
}

.feed-set span {
    display: block;
    font-size: 13px;
    color: #58595b;
}
.feed-img{
    box-shadow: 0 4px 16px #cecece;
    padding: 0;
    border-radius: 12px;
    margin-bottom: 15px;
    padding: 15px;
}
    
ion-img {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
}


ion-img.header-logo {
    width: 100%!important;
    max-width: 64px!important;
    margin-left: 6px;
    height: auto!important;
    border-radius: 0!important;
}


.feed-set p {
    font-size: 14px;
    color: #898989;
    line-height: 21px;
}

ion-grid {
    height: auto;
}