<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" src="assets/images/back-icon.svg"></ion-icon>
    <ion-img slot="start" class="header-logo" src="assets/images/insta-logo.jpg"></ion-img>
    <ion-title>favorites</ion-title>
  </ion-toolbar>
  <img src="assets/top-border.svg" class="top-border"/>

</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/images/feature-event.png"></ion-img>
    <ion-card-content>
     <div class="card-dates">
       <span><b>15</b>
       <p>Sat</p></span>
       <section>
         <b>BAND / EVENT NAME</b>
         <p>Name of the Venue</p>
         <span>10:00 PM - 2:00 AM</span>
       </section>
     </div>
     <div class="price-favorite">
       <b>18 <ion-icon name="arrow-up-outline"></ion-icon>
       </b>
      $36.99
     </div>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img src="assets/images/feature-event.png"></ion-img>
    <ion-card-content>
     <div class="card-dates">
       <span><b>15</b>
       <p>Sat</p></span>
       <section>
         <b>BAND / EVENT NAME</b>
         <p>Name of the Venue</p>
         <span>10:00 PM - 2:00 AM</span>
       </section>
     </div>
     <div class="price-favorite">
       <b>18 <ion-icon name="arrow-up-outline"></ion-icon>
       </b>
      $36.99
     </div>

    </ion-card-content>
  </ion-card>
</ion-content>
