<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-grid class="ion-no-padding">
    <div class="bg">
    </div>
    <ion-row class="log-in-area">
      <ion-col>
        <ion-img class="logo" src="/assets/images/logo2.png"></ion-img>
        <div class="action-btn">
          <ion-button expand="block" class="create-account" routerLink="/register">Create Account</ion-button>
        <ion-button expand="block" class="log-in"  routerLink="/login">Login</ion-button>
        </div>        
      </ion-col>
    </ion-row>
  </ion-grid>
