* {
    font-family: 'Rubik';
}

ion-header {
    opacity: 0;
    position: absolute;
}
ion-content {
    --background: transparent;
}

.bg {
    position: absolute;
}

ion-button.create-account {
    --background: #fff;
    --border-radius: 14px;
    margin-bottom: 16px;
    height: 50px;
    color: #38b126;
    --box-shadow: none;
}



ion-row.log-in-area {
    min-height: 100vh;
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-img.logo {
    width: 80%;
    max-width: 200px;
    margin: 40px auto 40px;
}

.action-btn {
    padding: 24px 20px 20px;
}

.parameters {
    padding: 8px 20px 8px 20px;
    a {
        float: right;
        display: flex;
        padding: 10px 0;
        text-decoration: none;
        color: var(--ion-color-primary);
    }
    ion-label {color: #fff;
        text-transform: uppercase;
    }
    ion-input {
        border-left: 1px solid #bbb;
        --padding-top: 5px!important;
        --padding-bottom: 5px!important;
        color: #fff;
    }
ion-item {
    --background: #ffffff45;
    --inner-border-width: 0px;
    border-radius: 14px;
    width: 100%;
    margin-top: 10px;   
    --padding-top: 2px;
    --padding-bottom: 2px;
    ion-img {
        width: 20px;
    margin-right: 12px;
    height: 20px;
    }
}
}


.bg {
    background: linear-gradient(to bottom, #000000, #013101, #008900, #00b300);
    background: -webkit-linear-gradient(to bottom, #000000, #013101, #008900, #00b300);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: -webkit-fill-available;
}

ion-footer{
    bottom: 0;
    background: transparent;
    text-align: center;
}

ion-footer p {
    color: #fff;
}

ion-footer p span {
    color: var(--ion-color-primary);
}

form {
    width: 100%;
}
div.term {
    ion-label {
        color: #fff !important;
        margin-left: 16px;
        text-decoration: underline;
    }
}
.term {
    padding: 0 20px;
}

.term section {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

p {
    clear: both;
    text-align: center;
    color: #fff;
}